@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';

.tabBar {
  @include position.fixed(auto auto 0 auto);
  @include flexbox.flexbox(center, center);
  position: absolute;
  width: 360px;
  height: 70px;
  // background-color: #2b2b38;
  background: linear-gradient(100deg, rgba(0, 21, 43, 100%) 48%, rgba(4, 33, 46, 100%) 100%);
  border-radius: (0 0 60px 60px);

  .serachBox {
    @include flexbox.flexbox(center, center);
    width: 50%;
    height: 100%;
    cursor: pointer;
    border-radius: (0 0 0 60px);
    transition: 0.2s;

    & :hover {
      transform: scale(1.1);
    }
  }

  .tabLine {
    width: 1px;
    height: 20%;
    background-color: white;
  }

  .bookMarkBox {
    @include flexbox.flexbox(center, center);
    width: 50%;
    height: 100%;
    border-radius: (0 0 60px 0);
    transition: 0.2s;

    & :hover {
      transform: scale(1.1);
    }
  }
}
