@use '/src/styles/constants/sizes';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  background: linear-gradient(20deg, rgba(3, 32, 51, 100%) 71%, rgba(12, 55, 83, 100%) 100%);

  .movieImg {
    width: 50%;
    height: 100%;
    border-radius: 20px;
  }

  .movieInfo {
    @include flexbox.flexbox(center, 0);
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding-left: 10px;

    .movieTitle {
      font-size: sizes.$TITLE;
      font-weight: 600;
      color: colors.$TITLE;
    }

    .movieYear {
      font-size: sizes.$SUB_TITLE;
      color: colors.$TITLE;
    }

    .movieType {
      font-size: sizes.$SUB_TITLE;
      color: colors.$TITLE;
    }
  }
}

.bookMarkBox {
  position: relative;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.2s;

  & :hover {
    transform: scale(1.05);
  }
}
