@use '/src/styles/constants/sizes';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.container {
  position: relative;
  width: 100%;
  height: 70%;
  overflow-y: auto;

  .movieList {
    display: flex;
    flex-direction: column;
    width: 100%;

    & :hover {
      transform: scale(1.05);
    }

    .movieStateBox {
      @include flexbox.flexbox(center, center);
      width: 100%;
      height: 400px;

      .movieState {
        font-size: sizes.$TITLE;
        color: colors.$WHITE;
      }
    }

    .movie {
      height: 100px;
    }
  }
}
